.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.flexContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 95%;
    height: 100%;
    padding-top: 1rem;
}

.header {
    width: 100%;
    height: 3rem;
    background-color: rgba(243, 244, 246);
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button {
    width: 50%;
    height: 3rem;
    border: 1px solid gray;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.header button:disabled {
    background-color: rgb(190, 190, 190);
}

.itemsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.noMoreData {
    color: #4b5563;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
