.layout {
    min-height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.header {
    height: 4rem;
    width: 100%;
    background-color: white;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
    position: sticky;
}
