.header {
    width: 100%;
    height: 3rem;
    background-color: rgba(243, 244, 246);
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button {
    width: 50%;
    height: 3rem;
    border: 1px solid gray;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.header button:disabled {
    background-color: rgb(190, 190, 190);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 1.5rem 0; */
}

.search {
    width: 90%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(200, 200, 200);
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
}

.search form {
    width: 85%;
}

.searchInput {
    width: 100%;
    height: 2rem;
    background: rgb(200, 200, 200);
    border: none;
    border-radius: 10px;
}

.category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.category button {
    width: 80%;
    padding: 1rem 1rem;
    background: #ffffff;
    border: 1px solid gray;
    border-radius: 0.3rem;
}

/* カテゴリ表示アニメーションの定義 */
.slideShow {
    animation-name: slideShowAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slideShowAnimation {
    from {
        left: 100vw; /* 初期位置 */
    }
    to {
        left: 0; /* 表示位置 */
    }
}
/* カテゴリ非表示アニメーションの定義 */
.slideHidden {
    animation-name: slideHiddenAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slideHiddenAnimation {
    from {
        left: 0; /* 表示位置 */
    }
    to {
        left: 100vw; /* 初期位置 */
    }
}

.firstCategoryList {
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0vw;
    background-color: white;
    z-index: 1;
}

.categoryHeader {
    height: 4rem;
    width: 100%;
    border-bottom-width: 1px;
    border-color: rgb(243, 244, 246);
}

.categoryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.categoryButton {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.categoryButton button {
    width: 75%;
    height: 3rem;
    text-align: left;
}
.categoryButton svg {
    width: 15%;
}

.secondCategoryList {
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0vw;
    background-color: white;
    z-index: 2;
}

.thirdCategoryList {
    width: 100%;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0vw;
    background-color: white;
    z-index: 3;
}
